<h3>This Section</h3>
<ol><li><a href="/putting-ansible-to-work/index.html">Putting Ansible To Work</a></li>
<li><a href="/putting-ansible-to-work/preface.html">Preface</a></li>
<li><a href="/putting-ansible-to-work/introduction.html">Introduction</a></li>
<ul>
<li><a href="introduction.html#who_is_this_book_for">Who Is This Book For?</a></li>
<li><a href="introduction.html#what_will_you_learn_from_this_book">What Will You Learn From This Book?</a></li>
<li><a href="introduction.html#why_learn_from_me">Why Learn From Me?</a></li>
</ul>
<li><a href="/putting-ansible-to-work/why-ansible.html">Why Ansible?</a></li>
<ul>
<li><a href="why-ansible.html#what_problem_does_ansible_solve">What Problem Does Ansible Solve?</a></li>
<li><a href="why-ansible.html#what_is_ansible">What Is Ansible?</a></li>
<li><a href="why-ansible.html#why_ansible_2">Why Ansible?</a></li>
<li><a href="why-ansible.html#what_does_ansible_run_on">What Does Ansible Run On?</a></li>
</ul>
<li><a href="/putting-ansible-to-work/key-concepts.html">Key Concepts</a></li>
<ul>
<li><a href="key-concepts.html#playbook_repo">Playbook Repo</a></li>
<li><a href="key-concepts.html#playbooks">Playbooks</a></li>
<li><a href="key-concepts.html#yaml">YAML</a></li>
<li><a href="key-concepts.html#roles">Roles</a></li>
<li><a href="key-concepts.html#tasks">Tasks</a></li>
<li><a href="key-concepts.html#modules">Modules</a></li>
<li><a href="key-concepts.html#handlers">Handlers</a></li>
<li><a href="key-concepts.html#files">Files</a></li>
<li><a href="key-concepts.html#templates">Templates</a></li>
<li><a href="key-concepts.html#metadata">Metadata</a></li>
<li><a href="key-concepts.html#facts">Facts</a></li>
<li><a href="key-concepts.html#variables">Variables</a></li>
<li><a href="key-concepts.html#inventory">Inventory</a></li>
<li><a href="key-concepts.html#host_vars">Host Vars</a></li>
<li><a href="key-concepts.html#group_vars">Group Vars</a></li>
</ul>
<li><a href="/putting-ansible-to-work/installing-ansible.html">Installing Ansible</a></li>
<ul>
<li><a href="installing-ansible.html#where_do_you_install_ansible">Where Do You Install Ansible?</a></li>
<li><a href="installing-ansible.html#do_you_need_a_server_for_ansible">Do You Need A Server For Ansible?</a></li>
<li><a href="installing-ansible.html#how_do_you_install_ansible">How Do You Install Ansible?</a></li>
</ul>
<li><a href="/putting-ansible-to-work/preparing-a-computer.html">Preparing A Computer For Ansible</a></li>
<ul>
<li><a href="preparing-a-computer.html#what_type_of_computer_can_ansible_provision">What Type Of Computer Can Ansible Provision?</a></li>
<li><a href="preparing-a-computer.html#install_ssh">Install SSH</a></li>
<li><a href="preparing-a-computer.html#create_a_user_account">Create A User Account</a></li>
<li><a href="preparing-a-computer.html#setup_sudo">Setup Sudo</a></li>
<li><a href="preparing-a-computer.html#what_about_passwordless_sudo">What About Password-less Sudo?</a></li>
<li><a href="preparing-a-computer.html#install_an_ssh_key">Install An SSH Key</a></li>
<li><a href="preparing-a-computer.html#what_about_passphraseless_ssh_keys">What About Passphrase-less SSH Keys?</a></li>
<li><a href="preparing-a-computer.html#install_pythons_selinux_library">Install Python’s SELinux Library</a></li>
<li><a href="preparing-a-computer.html#ready_to_provision">Ready To Provision</a></li>
</ul>
<li><a href="/putting-ansible-to-work/first-playbook.html">Your First Playbook</a></li>
<li><a href="/putting-ansible-to-work/organising-your-ansible-files.html">Organising Your Ansible Files</a></li>
<li><a href="/putting-ansible-to-work/building-roles.html">Building Roles</a></li>
<ul>
<li><a href="building-roles.html#what_are_roles">What Are Roles?</a></li>
<li><a href="building-roles.html#what_do_they_contain">What Do They Contain?</a></li>
<li><a href="building-roles.html#the_threepoint_plan_for_every_role">The Three-Point Plan For Every Role</a></li>
</ul>
<li><a href="/putting-ansible-to-work/working-with-config-files.html">Working With Config Files</a></li>
<ul>
<li><a href="working-with-config-files.html#static_config_files">Static Config Files</a></li>
<li><a href="working-with-config-files.html#dynamic_config_files">Dynamic Config Files</a></li>
</ul>
<li><a href="/putting-ansible-to-work/restarting-services.html">Restarting Services</a></li>
<ul>
<li><a href="restarting-services.html#when_do_i_need_to_restart_services">When Do I Need To Restart Services?</a></li>
<li><a href="restarting-services.html#creating_handlers_for_services">Creating Handlers For Services</a></li>
<li><a href="restarting-services.html#calling_handlers_when_a_service_needs_restarting">Calling Handlers When A Service Needs Restarting</a></li>
</ul>
<li><a href="/putting-ansible-to-work/adding-dependencies-to-roles.html">Adding Dependencies To Roles</a></li>
<ul>
<li><a href="adding-dependencies-to-roles.html#what_is_a_dependency">What Is A Dependency?</a></li>
<li><a href="adding-dependencies-to-roles.html#where_do_i_add_the_dependency">Where Do I Add The Dependency?</a></li>
</ul>
<li><a href="/putting-ansible-to-work/making-roles-repeatable.html">Making Roles Repeatable</a></li>
<ul>
<li><a href="making-roles-repeatable.html#what_do_you_mean_repeatable">What Do You Mean Repeatable?</a></li>
<li><a href="making-roles-repeatable.html#why_does_a_role_need_to_be_repeatable">Why Does A Role Need To Be Repeatable?</a></li>
<li><a href="making-roles-repeatable.html#adding_an_inspect_step_to_your_roles">Adding An Inspect Step To Your Roles</a></li>
<li><a href="making-roles-repeatable.html#testing_your_repeatable_roles">Testing Your Repeatable Roles</a></li>
</ul>
<li><a href="/putting-ansible-to-work/debugging-failing-roles.html">Debugging Failing Ansible Roles</a></li>
<ul>
<li><a href="debugging-failing-roles.html#why_do_roles_fail">Why Do Roles Fail?</a></li>
<li><a href="debugging-failing-roles.html#how_do_i_see_what_is_going_on">How Do I See What Is Going On?</a></li>
</ul>
<li><a href="/putting-ansible-to-work/building-software-from-source.html">Building Software From Source</a></li>
<ul>
<li><a href="building-software-from-source.html#one_role_or_several">One Role, Or Several?</a></li>
<li><a href="building-software-from-source.html#downloading_source_code">Downloading Source Code</a></li>
<li><a href="building-software-from-source.html#compiling_code">Compiling Code</a></li>
<li><a href="building-software-from-source.html#installing_compiled_software">Installing Compiled Software</a></li>
</ul>
<li><a href="/putting-ansible-to-work/temporary-install-scripts.html">Using Temporary Install Scripts</a></li>
<ul>
<li><a href="temporary-install-scripts.html#what_is_a_temporary_install_script">What Is A Temporary Install Script?</a></li>
<li><a href="temporary-install-scripts.html#why_use_a_temporary_install_script">Why Use A Temporary Install Script?</a></li>
<li><a href="temporary-install-scripts.html#creating_a_script">Creating A Script</a></li>
<li><a href="temporary-install-scripts.html#running_the_script_through_ansible">Running The Script Through Ansible</a></li>
</ul>
<li><a href="/putting-ansible-to-work/using-meta-roles.html">Using Meta-Roles</a></li>
<ul>
<li><a href="using-meta-roles.html#what_is_a_metarole">What Is A Meta-Role?</a></li>
</ul>
<li><a href="/putting-ansible-to-work/multiple-operating-systems.html">Supporting Multiple Operating Systems</a></li>
<li><a href="/putting-ansible-to-work/managing-the-inventory.html">Managing The Inventory</a></li>
<ul>
<li><a href="managing-the-inventory.html#setting_default_values_for_all_target_computers">Setting Default Values For All Target Computers</a></li>
<li><a href="managing-the-inventory.html#setting_the_remote_user_for_a_target_computer"> Setting The Remote User For A Target Computer</a></li>
<li><a href="managing-the-inventory.html#setting_the_ssh_key_for_a_target_computer">Setting The SSH Key For A Target Computer</a></li>
</ul>
<li><a href="/putting-ansible-to-work/miscellaneous-tips.html">Miscellaneous Tips</a></li>
<ul>
<li><a href="miscellaneous-tips.html#avoid_paramiko_for_now">Avoid Paramiko For Now</a></li>
</ul>
<li><a href="/putting-ansible-to-work/feedback.html">Feedback Most Welcome</a></li>
<ul>
<li><a href="feedback.html#thats_all_folks">That’s All, Folks!</a></li>
<li><a href="feedback.html#tell_me_your_story">Tell Me Your Story</a></li>
</ul>
<li><a href="/putting-ansible-to-work/copyright.html">Copyright</a></li>
<li><a href="/putting-ansible-to-work/licence.html">Licence</a></li>
